/.repo/
/.gn
/Makefile
/applications/
/base/
/build/
/build.py
/build.sh
/commonlibrary/
/config.mk/
/developtools/
/device/board/bearkey/
/device/board/hihope/
/device/board/hisilicon/
/device/board/revoview/
/device/qemu/
/device/soc/hisilicon/
/docs/
/drivers/
/foundation/
/kernel/
/oh_venv/
/out/
/prebuilts/
/productdefine/
/qemu-run
/targets/
/test/
/third_party/
/vendor/bearkey/
/vendor/default/
/vendor/hihope
/vendor/hisilicon/
/vendor/ohemu/
/vendor/revoview/
